.container {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 5px; /* Espacio entre las columnas */
    
  }
  
  .left {
    width: 100%;
    text-align: center;
    background-color: rgb(244 244 244);

  }
  
  .right {
    /* Estilos para la columna derecha */
    background-color: rgb(255 255 255);
  }
/* Media query para dispositivos con un ancho máximo de 768px (por ejemplo, tablets y móviles) */

.foto {
   margin-top: 10px; 
   border-radius: 100%;
   width: 221px;
   border-top: 1px solid rgb(22, 45, 68);
  }
p {
  padding-left: 20px;
  text-align: left;
  margin: 25px;
  color: black;
  font-size: 18px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 48px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 0%;
  color: black;
}

h3{
  text-align: left;
  margin-left: 7%;
  color: black;
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 7px;
  margin-left: 42px;
}
h4{
  color: black;
  text-align: left;
  font-size: 24px;
  margin-top: 5px;
}
p{
  margin-top: 10px;
  margin-bottom: 10PX;
}
.sewcond-titel{
color:;
}

li{
  margin: 20px;
  text-align: left;
  color: black;
}
.title-radius{
  font-size: 24px;
  font-weight: bold;
  color: rgb(254 254 246);
  text-align: center;
  background-color: rgb(82, 86, 89);
  padding: 10px;
  border-radius: 30px;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  }
  .experience-titel{
    display:inline;
    margin-left: 40px;
    padding: 0px; 
    color: black;
    font-size: 25px;
  }
  .line{
  color: black;

  }

.experience-right{
  text-align: left;
  color: black;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 24px;
  margin-bottom: 5px;
}
.experience-company{
  color: black;
  font-size: 20px;
  margin-left: 7%;
  margin-top: 25px;
  margin-bottom: 5px;
}
h6{
  color: black;
  margin-left: 30px;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.date{
  color: black;
  text-align: right;
  margin-right: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text{
  color: black ;
  margin-left: 10px;
  text-align: justify;
  margin-bottom: 40px;
}

.subTitulo{
  text-align: left;
  margin-left: 40px;
  margin-bottom: 20px;
  color: black;
}

hr{
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 780px) {
  .container {
    grid-template-columns: 100%; /* Cambia a una sola columna */
     }

    
  }